<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Schema</title>
		<style>
			body {
				min-height: 100dvh;
			}

			h1,
			h2 {
				display: inline-block;
			}

			.container {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 1rem;
			}

			textarea {
				display: block;
				width: 100%;
			}

			@supports (field-sizing: content) {
				textarea {
					field-sizing: content;
					resize: none;
				}
			}

			@supports not (field-sizing: content) {
				textarea {
					height: 90vh;
				}
			}
		</style>
	</head>
	<body>
		<h1>Generated Schema</h1>
		{{ if .showLogOut }}<button onclick="logout">Log Out</button>{{ end }}

		<div class="container">
			<section class="">
				<h2>TypeScript Schema</h2>
				<button onclick="copySchema('ts')">Copy</button>
				<button onclick="downloadSchema('ts')">Download</button>
				<textarea id="ts-schema" readonly>{{ .tsSchema }}</textarea>
			</section>

			<section class="">
				<h2>Zod Schema</h2>
				<button onclick="copySchema('zod')">Copy</button>
				<button onclick="downloadSchema('zod')">Download</button>
				<textarea id="zod-schema" readonly>{{ .zodSchema }}</textarea>
			</section>
		</div>

		<script>
			const tsSchema = document.getElementById('ts-schema').value
			const zodSchema = document.getElementById('zod-schema').value

			function copySchema(type) {
				const schema = type === 'ts' ? tsSchema : zodSchema
				navigator.clipboard.writeText(schema).then(() => alert('Copied to clipboard'))
			}

			function downloadSchema(type) {
				const schema = type === 'ts' ? tsSchema : zodSchema
				const filename = type === 'ts' ? '{{ .tsFilename }}' : '{{ .zodFilename }}'

				const blob = new Blob([schema], { type: 'text/plain' })
				const url = URL.createObjectURL(blob)
				const a = document.createElement('a')
				a.href = url
				a.download = filename
				a.click()
				URL.revokeObjectURL(url)
			}

			function logout() {
				fetch('/logout', { method: 'GET' })
					.then(() => window.location.reload())
					.catch(console.error)
			}
		</script>
	</body>
</html>
